@import "./header.scss";
@import "./wp-login.scss";
@import "./page.scss";
@import "./profilestyle.scss";
@import "./variables.scss";
@import "./forum.scss";
@import "./blog.scss";
@import "./aside.scss";
@import "./review.scss";
@import "./wp-foro-login.scss";
@import "./registration.scss";
@import "./footer.scss";
@import "./news.scss";
@import "./single.scss";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    background-color: white;
}

.main-container {
    padding: 0 2rem;

    @include lg {
        padding: 0 5rem;
    }
    @include xl {
        padding: 0 15rem;
    }
    @include xxl {
        padding: 0 25rem;
    }
}
