.Blog {
    $root: &;
    display: flex;

    &__Main {
        flex: 1 1 70%;
        padding-right: 2rem;
    }

    &__Nav {
        $navWidth: 100%;
        background-color: $mf-pink;
        padding: 0 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 98rem;
        height: 6rem;
        margin-bottom: 2rem;
        position: relative;
        overflow: hidden;
    }

    &__NavList {
        display: flex;
        align-items: center;
        list-style: none;
        height: 100%;
    }

    #blogSearchButton {
        transform: translateX(0);
        transition: transform 0.5s ease-in-out;
        position: relative;
        z-index: 10;
    }

    .hoverState--hidden {
        width: 100%;
        height: 100%;
        background-color: none;
    }

    .hoverState {
        background-color: $darkgrey;
    }

    #blogSearchButton.active {
        // border: 1px solid red;
        position: relative;
        transform: translateX(-45rem);

        &::before {
            background-color: none !important;
        }
    }

    #blogSearchButton--Pink {
        border: 1px solid white;
        // transform: scale(1);
        position: relative;
        i {
            color: $mf-pink !important;
        }
    }

    #blogSearchButton--Pink.hidden {
        // visibility: hidden;
        // transform: scale(0);
        position: absolute;
    }

    &__SearchForm {
        right: 0;
        position: absolute;
        z-index: 10;
        transform: translateX(-25rem);
        transition: transform 0.5s ease-in-out;
        // width: 100%;
        border: 1px solid yellow;

        // position: absolute;
        // top: 0;
        &--hidden {
            transform: translateX(100%);
        }
    }

    &__SearchInput {
        @include h1;
        @include bgColorOpacity($white, 0.9);
        color: $darkgrey;
        font-size: 1.8rem;
        padding: 0.5rem 1.2rem;
        border: none;
        border-radius: 0.5rem;
        outline: none;
        min-width: 100%;
    }

    &__NavOverlay {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        // @include bgColorOpacity($black, 0.8);
        background: linear-gradient(
            to right,
            transparent 15%,
            rgba(0, 0, 0, 0.8) 45%,
            rgba(0, 0, 0, 1) 70%
        );
        visibility: visible;
        opacity: 1;
        // transform: scale(1);
        transform: translateX(0%);
        transition: all 0.5s ease-in-out;
        // width: 100%;

        &--hidden {
            opacity: 0;
            transform: translateX(calc(100% - 4rem));
            // height: 100%;
            // width: 0;
            // border: 1px solid red;
            // visibility: hidden;
            // z-index: -1;q
        }
    }

    &__NavItem {
        @include navText;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        padding: 0 0.8rem;
        // border-left: 1px solid rgb(255, 193, 193);
        // transition: background .1s ease-in;

        // &:not(:last-child){
        //     margin-right: 1rem;
        // }

        &:hover {
            background-color: $darkgrey;
        }

        &--Selected {
            background-color: $darkgrey;
        }

        &--Search {
            cursor: pointer;
            padding: 0 2rem;
            @include navText;
            height: 100%;
            display: flex;
            align-items: center;
            position: relative;

            // &::before {
            //     content: "";
            //     top: 0;
            //     left: 0;
            //     width: 100%;
            //     height: 100%;
            //     position: absolute;
            //     background-color: $darkgrey;
            //     opacity: 0;
            //     z-index: -1;
            // }

            // &:hover:before {
            //     opacity: 1;
            // }
        }

        // .move {
        //     transform: translateX(-35rem);
        // }

        &--Search.clicked::before {
            opacity: 1;
            // border: 1px solid red;
            transition: all 0.5s ease-in;
        }

        &--Search.clicked {
            position: relative;
            z-index: -1;
            opacity: 0;
            // border: 1px solid red;
            transition: all 0.5s ease-in;
            // background-color: $mf-pink;
        }

        .gray {
            background-color: $darkgrey;
        }

        // &--HoverHidden:hover {
        //     background-color: none;
        // }

        // &--HoverHidden:hover {
        //     background: transparent;
        // }
    }

    &__FadeHover {
        background-color: transparent;
        // border: 1px solid red;
        transition: all 2.5s ease-in-out;

        &--Active {
            background-color: $darkgrey;
            // border: 1px solid white;
            // transition: all 0.3s ease-in-out;

            &--Hidden {
                background-color: transparent;

                &:hover {
                    background-color: transparent;
                }
            }
        }
    }

    &__NavLink {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    &__NavLinkText {
        text-decoration: none;
        color: white;
        // text-transform: uppercase;
        display: block;

        .Blog__NavItem:hover & {
            &--Pink {
                color: $mf-pink;
            }
            &--Green {
                color: $mf-green;
            }
            &--Yellow {
                color: $mf-yellow;
            }
            &--Blue {
                color: $mf-blue;
            }
            &--White {
                color: $white;
            }
        }

        &--PinkSelected {
            background-color: $darkgrey;
            color: $mf-pink;
        }
        &--GreenSelected {
            background-color: $darkgrey;
            color: $mf-green;
        }
        &--YellowSelected {
            background-color: $darkgrey;
            color: $mf-yellow;
        }
        &--BlueSelected {
            background-color: $darkgrey;
            color: $mf-blue;
        }
    }

    &__Title {
        @include h1;
        font-size: 2.5rem;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
    }

    &__Text {
        color: $white;
    }

    &__Post {
        margin-bottom: 6rem;
        background-color: $lightgrey;
        position: relative;
        max-width: 98rem;

        #{$root}__SinglePostLink {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 10;
        }

        #{$root}__BackgroundImageWrapper {
            position: relative;
            padding-top: calc(470 / 711 * 100%);
            overflow: hidden;
        }

        #{$root}__BackgroundImage {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            transition: transform 0.6s ease-in-out;
        }

        &:hover #{$root}__BackgroundImage {
            transform: scale(1.04);
        }

        #{$root}__Preamble {
            position: absolute;
            width: 100%;
            height: 16rem;
            bottom: 0;
            left: 0;
            padding: 1rem 2rem;
            @include bgColorOpacity($white, 0.9);

            &--Pink {
                @include bgColorOpacity($mf-pink, 0.9);
            }
            &--Blue {
                @include bgColorOpacity($mf-blue, 0.9);
            }
            &--Yellow {
                @include bgColorOpacity($mf-yellow, 0.9);
            }
            &--Green {
                @include bgColorOpacity($mf-green, 0.9);
            }
        }

        #{$root}__Label {
            @include p;
            font-weight: bold;
            font-size: 1.4rem;
            margin-bottom: 0.8rem;
            ul {
                list-style: none;
                text-transform: uppercase;
                display: flex;

                li {
                    &:not(:first-child) {
                        margin-left: 1rem;
                    }
                    a {
                        color: black;
                        text-decoration: none;
                    }
                }
            }
        }

        #{$root}__PostTitle {
            margin-bottom: 1rem;
            a {
                @include h1;
                text-decoration: none;
                font-size: 3rem;
                color: $white;
            }
        }

        #{$root}__Text {
            @include p;
            font-size: 2rem;
            line-height: 1.4;

            #{$root}__ReadMoreLink {
                margin-left: 0.5rem;
                text-decoration: none;
                color: white;
                position: relative;
                z-index: 11;
                cursor: pointer;

                &:hover {
                    border-bottom: 1px solid white;
                }
            }
        }
    }

    &__AsideWrapper {
        flex: 1 1 30%;
    }
}
