.Blog {
    $root: &;
    display: flex;

    &__Main {
        flex: 1 1 70%;
        padding-right: 2rem;
    }

    &__Nav{
        background-color: $mf-pink;
        padding: 0 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 98rem;
        height: 8rem;
        margin-bottom: 2rem;

    }

    &__NavList{
        display: flex;
        align-items: center;
        list-style: none;
        height: 100%;
    }

    &__NavItem{
        @include navText;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        padding: 0 .5rem;
        // transition: background .1s ease-in;

        &:not(:last-child){
            margin-right: 2rem;
        }

        &:hover{
            background-color: $black;
        }
    }

    &__NavLink{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    &__NavLinkText{
        text-decoration: none;
        color: $darkgrey;
        text-transform: uppercase;
        display: block;

        .Blog__NavItem:hover &{
            &--Pink{
                color: $mf-pink;
            }
            &--Green{
                color: $mf-green;
            }
            &--Yellow{
                color: $mf-yellow;
            }
            &--Blue{
                color: $mf-blue;
            }
        }
    }

    &__Title {
        @include h1;
        font-size: 3rem;
        text-transform: uppercase;
        text-decoration: none;
        color: $darkgrey;
    }

    &__Post {
        margin-bottom: 6rem;
        background-color: $lightgrey;
        position: relative;
        max-width: 98rem;

        #{$root}__SinglePostLink {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 10;
        }

        #{$root}__BackgroundImageWrapper {
            position: relative;
            padding-top: calc(470 / 711 * 100%);
            overflow: hidden;
        }

        #{$root}__BackgroundImage {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            transition: transform 0.6s ease-in-out;
        }

        &:hover #{$root}__BackgroundImage {
            transform: scale(1.04);
        }

        #{$root}__Preamble {
            position: absolute;
            width: 100%;
            height: 16rem;
            bottom: 0;
            left: 0;
            padding: 1rem 2rem;
            @include bgColorOpacity($white, 0.9);

            &--Pink{
                @include bgColorOpacity($mf-pink, 0.9);
            }
            &--Blue{
                @include bgColorOpacity($mf-blue, 0.9);
            }
            &--Yellow{
                @include bgColorOpacity($mf-yellow, 0.9);
            }
            &--Green{
                @include bgColorOpacity($mf-green, 0.9);
            }
        }

        #{$root}__Label {
            @include p;
            font-weight: bold;
            font-size: 1.4rem;
            margin-bottom: 0.8rem;
            ul {
                list-style: none;
                text-transform: uppercase;
                display: flex;

                li {
                    &:not(:first-child) {
                        margin-left: 1rem;
                    }
                    a {
                        color: black;
                        text-decoration: none;
                    }
                }
            }
        }

        #{$root}__PostTitle {
            margin-bottom: 1rem;
            a {
                @include h1;
                text-decoration: none;
                font-size: 3rem;
                color: black;
            }
        }

        #{$root}__Text {
            @include p;
            font-size: 2rem;
            line-height: 1.4;

            #{$root}__ReadMoreLink {
                margin-left: 0.5rem;
                text-decoration: none;
                color: white;
                position: relative;
                z-index: 11;
                cursor: pointer;

                &:hover {
                    border-bottom: 1px solid white;
                }
            }
        }
    }

    &__AsideWrapper {
        flex: 1 1 30%;
    }
}
