.wpforo-forum-description,
.wpfcl-1 {
    color: $darkgrey !important;
}

.wpforo-forum-icon {
    i {
        color: $grey !important;
    }
}

.wpforo-forum-stat {
    .wpfcl-1 {
        color: $mediumgrey !important;
    }
}

#wpforo #wpforo-wrap .wpfl-2 .wpforo-forum-stat{
    color: $mediumgrey !important;
}

#wpforo #wpforo-wrap .wpfl-2 .wpforo-last-post-info{
    color: $mediumgrey !important;
}

.wpfl-2 {
    .forum-wrap:not(:first-child) {
        border-top: 1px solid $grey !important;
    }
}

#wpforo-stat-header,
#wpforo #wpforo-wrap #wpforo-poweredby {
    background-color: #777777 !important;
}

#wpforo #wpforo-wrap #wpforo-title {
    color: $darkgrey !important;
}

#wpforo #wpforo-wrap #wpforo-title.greyTitle {
    color: $grey !important;
}

.wpf-tags-title {
    color: #565656 !important;
}

#wpf-msg-box {
    display: none !important;
}

.wpf-subscribe-forum {
    display: none !important;
}
.wpf-subscribe-topic {
    display: none !important;
}

#wpforo #wpforo-wrap .wpf-action{
    color: $mediumgrey !important;

    &:hover{
        color: $darkgrey !important;
    }
}

#wpforo #wpforo-wrap .wpf-action.wpforo-tools{
    color: white !important;
}

#wpforo #wpforo-wrap .wpforo-post .wpforo-post-content p{
    color: $darkgrey !important;
}