@import "./variables.scss";

.Header {
    @include navText;

    padding-top: 8rem;
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__ImageWrapper {
        position: relative;
        width: 22rem;
        height: 11rem;

        a {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }

    &__Image {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: left;
    }

    #menu-wpforo-navigation,
    #menu-wpforo-menu-logged-in {
        display: flex;
        justify-content: center;
        list-style: none;

        li {
            margin: 0 1rem;

            a {
                text-align: center;
                color: black;
                padding: 0.5rem;
                text-transform: uppercase;
                text-decoration: none;
                transition: color 0.3s ease-out;
                display: inline-block;

                &:hover,
                &:focus {
                    color: $mf-pink;
                }
            }
        }
    }

    &__Form {
        display: flex;

        .Header__Icon {
            color: black;
            font-size: 3.2rem;
            cursor: pointer;
            transition: all 0.3s ease-out;
        }

        .Header__Input {
            font-family: Varela Round;
            font-style: normal;
            font-weight: normal;
            font-size: 1.6rem;
            line-height: 2.4rem;
            letter-spacing: -0.03em;
            border: none;
            border-bottom: 2px solid black;
            transition: all 0.3s ease-out;
            width: 10rem;
            color: black;

            @include lg {
                width: 15.9rem;
            }

            &:hover,
            &:focus {
                border-color: $mf-pink;
            }
        }

        .Header__SearchButton {
            background: none;
            border: none;

            .Header__Icon {
                color: black;

                &:hover,
                &:focus {
                    color: $mf-pink;
                }
            }
        }
    }

    &__SearchButton {
        background: none;
        border: none;
    }

    &__LoggedInWrapper {
        display: flex;
        align-items: center;

        .Header__SearchLabel {
            margin-right: 3rem;
        }

        .Header__Icon {
            font-size: 3.2rem;
        }

        .Header__IconLink {
            color: black;
            transition: color 0.3s ease-out;

            &:hover,
            &:focus {
                color: $mf-pink;
            }
        }

        .Header__IconLink:not(:last-child) {
            margin-left: 4rem;
            margin-right: 3rem;
        }
    }
}
