@import "./variables.scss";

.wpforo-profile-wrap {

    .wpfy{
        display: none;
    }

    .wpf-profile-info-wrap {
        display: flex;
        padding: 20px !important;
        left: 10px !important;
    }

    #wpforo #wpforo-wrap .wpforo-profile-wrap .wpforo-profile-head{
        background-image: none;
        background-color: $lightgrey !important;
    }

    
}

// Profile
#wpforo #wpforo-wrap .wpforo-profile-wrap .wpforo-profile-head{
    display: flex !important;
    flex-direction: column-reverse !important;
    padding: 0 !important;
    margin-bottom: 0 !important;
    background-color: $lightgrey !important;
}

// Profile menu
#wpforo #wpforo-wrap .wpforo-profile-wrap .h-footer{
    margin: 0 !important;
    // color: white !important;
    background-color: $mf-pink !important;

    &:hover,
    &:visited,
    &:active {
        color: $mf-pink !important;
    }
}

#wpforo #wpforo-wrap .wpforo-profile-wrap .h-bottom{
    border-bottom: 0px !important;
}

#wpforo #wpforo-wrap .wpforo-profile-wrap .h-bottom .wpf-profile-menu{
    color: white;

    &:hover,
    &:active {
        color: $mf-pink !important;
    }
}

// #wpforo #wpforo-wrap .wpforo-profile-wrap .h-bottom .wpf-profile-menu .wpforo-active{
//     color: white !important;
// }

#wpforo #wpforo-wrap .wpforo-profile-wrap .profile-rating-bar-wrap .wpfbg-7 .rating-bar-cell{
    background-color: blue !important;
}

.remove:hover{
    color: $darkgrey;
}

// Stuff
#wpforo #wpforo-wrap .wpforo-subtop{
    display: none !important;
}

#wpforo #wpforo-wrap .wpforo-profile-wrap .h-header .wpf-profile-info-wrap{
    display: flex;
    justify-content: space-between;
}

.wpf-profile-plugin-menu{
    display: none;
    background: none;
    background-color: $lightgrey;
}

#wpforo #wpforo-wrap .wpforo-profile-wrap .h-header-info{
    display: flex !important;
    justify-self: flex-end !important;
    justify-content: flex-end !important;
    padding-left: 20px !important;
}

#wpforo #wpforo-wrap .wpforo-profile-wrap .h-top{
    align-self: flex-end !important;
}


// Rating
// #wpforo #wpforo-wrap .wpforo-profile-wrap .profile-rating-bar-wrap .rating-bar-cell{
//     background-color: $mf-pink !important;
// }

#wpforo #wpforo-wrap .wpforo-profile-wrap .wpf-profile-badge{
    background-color: $green !important;
    box-shadow: none !important;
}

// Profile picture
#wpforo #wpforo-wrap .wpforo-profile-wrap .h-picture .avatar{
    box-shadow: none !important;
}

// TEXT

#wpforo #wpforo-wrap .wpf-field .wpf-label{
    color: $darkgrey !important;
}

#wpforo #wpforo-wrap .wpf-sbtn .wpf-sbtn-title span{
    color: $darkgrey !important;
}

#wpforo #wpforo-wrap .wpforo-profile-wrap .wpf-username{
    color: $darkgrey !important;
}