@import "./variables.scss";

.wpforo-profile-wrap {

    .wpf-profile-plugin-menu{
        display: none;
    }

    .wpfy{
        display: none;
    }

    .h-header .profile-stat-data-item{
        @include h1;
        color: red;
    }

    .wpf-profile-info-wrap {
        display: flex;
        padding-top: 0;
        left: 0px;
    }
}
