.Aside{

  &__ReviewItem{
    width: 90%;
    height: 15rem;
    background-color: $mf-yellow;
    background-color: $grey;
    border: 1px solid red;
    margin-bottom: .9rem;
    padding: 1rem;
  }

  &__ReviewImage{
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    object-fit: cover;

  }
}