.main-container { 
    .single {
        display: flex;
        flex-direction: column;
        align-items: center;;
        padding: 0 10rem;
        // align-items: center;

        img {
            padding-top: 3rem;
            width: 600px;
        }

        h1, p, a {
            font-family: 'varela round';
        }

        h1 {
            font-size: 3rem;
            padding: 3rem 12rem;
            align-self: flex-start;
        }

        p {
            font-size: 1.5rem;
            margin-bottom: 2rem;
            padding: 0 12rem;
        }

        a {
            text-decoration: none;
            margin: 0 2rem;
            font-size: 1.3rem;
            color: $grey;
        }

        a:hover {
            color: $mf-pink;
        }
    }
}