@import "./variables.scss";
.main-container { 
    .single {
        display: flex;
        flex-direction: column;
        align-items: center;;

        .author {
            align-self: flex-start;
            font-size: 1.3rem;
            color: $grey;
        }
        
        .lines {
            align-self: flex-start;
            background-color: $mf-pink;
            width: 4rem;
            height: 0.5rem;
        }

        img {
            padding-top: 3rem;
            width: 600px;
        }

        h1, p, a {
            font-family: 'varela round';
        }

        h1 {
            font-size: 4rem;
            padding-top: 3rem;
            align-self: flex-start;
        }

        p {
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }

        a {
            text-decoration: none;
            margin: 0 2rem;
            font-size: 1.3rem;
            color: $grey;
            text-align: center;
        }

        .links {
            display: flex;
        }

        a {
            &:hover {
                color: $mf-pink;
            }
        }
    }
}

@include md {
    .single {
        padding: 0 5rem;
    }
}

@include lg {
    .single {
        padding: 0 10rem;
    }
}