#login {
    width: 100vw;
    padding: 20rem;
    form {
        background-color: #F6F6F6;
        border: none;
        display: flex;
        flex-direction: column;

        #wp-submit {
            background-color: #FF9393;
            border: none;
            border-radius: 0;
            width: 80%;
        }

        .submit {
            display: flex;
            justify-content: center;
            // flex-direction: column;
        }

        .forgetmenot {
            text-align: center;
            padding-bottom: 0.5rem;
        }

        .user-pass-wrap label,
        #user_login label {
            display: none;
        }

        #user_login, #user_pass {
            border-radius: 0;
            // width: 50%;
        }
    }
    .button.wp-hide-pw {
        .dashicons {
            color: grey;
        }
    }
}
